//
//  Warnings.xcconfig
//
//  Created by Steven Fisher & Peter Hosey:
//      https://github.com/boredzo/Warnings-xcconfig
//  See also:
//      http://boredzo.org/blog/archives/2009-11-07/warnings
//

GCC_WARN_CHECK_SWITCH_STATEMENTS = NO
GCC_WARN_SHADOW = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
CLANG_WARN_ENUM_CONVERSION = NO
CLANG_WARN_INT_CONVERSION = NO
CLANG_WARN_CONSTANT_CONVERSION = NO
CLANG_WARN_BOOL_CONVERSION = NO
CLANG_WARN_UNREACHABLE_CODE = YES_AGGRESSIVE
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = NO
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = NO
GCC_WARN_ABOUT_MISSING_NEWLINE = NO
GCC_WARN_SIGN_COMPARE = NO
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE;
GCC_WARN_UNUSED_FUNCTION = NO
GCC_WARN_UNUSED_LABEL = NO
GCC_WARN_UNUSED_VALUE = NO
GCC_WARN_UNUSED_VARIABLE = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = NO
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = NO
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = NO
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = NO
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
CLANG_WARN_ASSIGN_ENUM = NO
CLANG_WARN_EMPTY_BODY = NO
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = NO
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = NO
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
OTHER_CFLAGS = -Wno-unused-parameter -Wformat=2 -Wunreachable-code -Wno-nonnull -Wno-nullability-completeness
RUN_CLANG_STATIC_ANALYZER = YES
